.square {
    background: #fff;
    border: 1px solid black;
    float: left;
    font: 25px "Century Gothic", Futura, sans-serif;
    line-height: 20px;
    height: 40px;
    width: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    outline: none;
}

button:disabled,
button[disabled]{
  color: black;
}

.blocked {
    background: black;
}

.unclick {
    background: lightgray;
}

.note{
    font: 25px "Century Gothic", Futura, sans-serif;
    line-height: 30px;
}

.progress{
    border-radius: 8px;
    color:white;
    background-color:blue;
    content:"";
    display:table;
    clear:both;
}

.meter { 
    position: relative;
    font: 18px "Century Gothic", Futura, sans-serif;
}

.meter > span {
    display: block;
    height: 20px;
    border-radius: 8px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    position: relative;
    overflow: hidden;
    text-align: center;
  }